@import "common.scss";

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-width: 60rem;
  font-family: "Quicksand", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.7rem;
  color: $text-color;

  &-input {
    box-sizing: border-box;
    flex-grow: 1;
    max-width: 46rem;
    height: 4rem;
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid $border;

    &_center {
      margin: 0 auto;
    }

    &::-webkit-input-placeholder {
      font-family: "Quicksand", sans-serif;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 2.7rem;
      color: $text-color;
    }
  
    &::-moz-placeholder {
      font-family: "Quicksand", sans-serif;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 2.7rem;
      color: $text-color;
    }
  }

  &-label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $header-color;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.7rem;

    span {
      margin-right: 2rem;
      flex-shrink: 0;
    }

    &_multiple {
      width: 100%;
      display: block;
      color: $header-color;
      font-family: 'Quicksand', sans-serif;
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 2.7rem;

      span {
        margin-right: 4.5rem;
      }
    }
  }

  &-links {
    display: flex;
    justify-content: space-between;
    // width: 100%;
    margin-bottom: 2rem;

    &_center {
      margin: 0 auto;
      margin-left: 1rem;
    }
  }

  &-link {
    color: $blue-primary;
    margin-right: 2rem;

    &:last-child {
      margin-right: 0;
    }
  }

  &-buttons {
    display: flex;
    justify-content: space-between;
    
    :nth-child(n) {
      margin-right: 1rem;
    }

    :last-child {
      margin-right: 0;
    }
  }
  
  &-checkbox {
    width: 2rem;
    height: 2rem;
  }

  &-textarea {
    box-sizing: border-box;
    flex-grow: 1;
    max-width: 46rem;
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid $border;
  }

  &-date {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid $border;
    font-family: "Quicksand", sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.7rem;
  }
}

.form-input-wrapper {
  display: flex;
  margin-bottom: 2rem;
  width: 100%;

  &:last-child {
    margin-bottom: 0;
  }
}

.colorsheme-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 50rem;

  &__theme {
    display: flex;
    align-items: center;
  }
}

.colorpicker {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 36rem;

  &__input {
    box-sizing: border-box;
    max-width: 17rem;
    width: 100%;
    border-radius: 0.5rem;
    border: 1px solid #dcdcdc;
  }

  &__list {
    border-radius: 0.5rem;
    border: 1px solid #dcdcdc;
  }
}

@media only screen and (max-width: 680px) {
  .form {
    min-width: auto;
    margin: 0 auto;
    width: auto;
    min-width: 40rem;
  }

  .form-label {
    flex-direction: column;
    align-items: flex-start;

    &_multiple {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      span {
        margin-bottom: 1rem;
      }
    }

    span {
      margin-bottom: 1rem;
    }
  }

  .form-input {
    width: 100%;
    max-width: 100%;
  }

  .form-textarea {
    width: 100%;
    max-width: 100%;
  }

  .colorpicker {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media only screen and (max-width: 380px) {
  .form {
    min-width: 30rem;
  }
}